html,
body {
  * {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
  }
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 42px;
  }
  h3 {
    font-size: 36px;
  }
  h4 {
    font-size: 30px;
  }
  h5 {
    font-size: 24px;
  }
  h6 {
    font-size: 18px;
  }
  a {
    text-decoration: none;
    color: initial;
    cursor: pointer;
  }
  input {
    color: var(--input-text) !important;
    &:placeholder {
      color: var(--input-text) !important;
    }
  }
  .wrapper-left {
    @include flex;
    justify-content: flex-start;
  }
  .wrapper-center {
    @include flex;
    justify-content: center;
  }
  .wrapper-right {
    @include flex;
    justify-content: flex-end;
  }
  .wrapper-evenly {
    @include flex;
    justify-content: space-evenly;
  }
  .wrapper-between {
    @include flex;
    justify-content: space-between;
  }
  .main-container {
    width: 100%;
    height: calc(100vh - 80px);
    padding: 24px;
    box-sizing: border-box;
  }
  mat-card {
    background-color: var(--mat-card) !important;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    span,
    strong,
    td,
    mat-card-title,
    mat-card-subtitle {
      color: var(--mat-card-text) !important;
    }
    .head {
      background-color: var(--head) !important;
      span {
        color: #fff !important;
      }
    }
  }
  mat-icon {
    filter: var(--invert);
  }

  .header {
    color: var(--mat-card-text);
  }
}

mat-form-field {
  width: 100%;

  ::ng-deep {
    .mat-form-field-flex {
      background-color: var(--input) !important;
    }
    input,
    label {
      color: var(--input-text) !important;
      &::placeholder {
        color: var(--input-text) !important;
      }
    }
  }
}
