.save {
  float: right;
  background-color: #1869ff;
  color: #fff;
  border: none;
  font-weight: bold;
  height: 35px;
  margin-top: 10px;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 12px;
  width: 70px;
}

.add {
  float: right;
  background-color: #1869ff;
  color: #fff;
  border: none;
  font-weight: bold;
  height: 35px;
  margin-top: 10px;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 12px;
  width: 150px;
  display: none;
}

.workday-wrapper {
  background-color: var(--before-bg);
  width: auto;
  height: auto;
  padding: 50px;
  border-radius: 5px;
  margin: 50px;
}

.addTimeWork {
  width: 100%;
  height: 50px;
  background-color: var(--head);
  color: #fff;
  line-height: 50px;
  margin-bottom: 10px;
  font-weight: bold;

  span {
    margin-left: 15px;
  }
}

.day-info {
  height: auto;
  background-color: var(--head);
  color: var(--font);
  padding: 5px;
  margin-bottom: 10px;

  p {
    color: var(--font);
    padding: 10px;
    width: auto;
    margin: 10px;
    background: var(--before-bg);

    span {
      font-weight: bold;
    }
  }
}

.constForm {
  border: none !important;

  .details {
    width: 488px !important;
    margin-right: 10px;
    margin-top: 20px;
  }
}

.times {
  color: var(--font);
  background-color: var(--before-bg);
  margin-bottom: 10px;
  display: flex;
  border-bottom: 5px solid var(--head);
  margin-bottom: 5px;

  .hoursFrom {
    width: 150px;
    margin-right: 10px;
    margin-top: 20px;
  }

  .hoursTo {
    width: 150px;
    margin-right: 10px;
    margin-top: 20px;
  }

  .type {
    width: 250px;
    margin-right: 10px;
    margin-top: 20px;
  }

  .project {
    width: 250px;
    margin-right: 10px;
    margin-top: 20px;
  }

  .details {
    width: 358px;
    margin-right: 10px;
    margin-top: 20px;
  }
}

.deleteEntry {
  cursor: pointer;
  margin-top: 21px;
  width: 120px;
  height: 58px;
  border: 0;
  background-color: var(--buttons);
  color: #fff;
  font-weight: bold;
}

.editEntry {
  cursor: pointer;
  margin-top: 21px;
  width: 120px;
  height: 58px;
  border: 0;
  background-color: var(--buttons);
  color: #fff;
  font-weight: bold;
  margin-right: 10px;
}

.addEntry {
  cursor: pointer;
  margin-top: 21px;
  width: 120px;
  height: 58px;
  border: 0;
  background-color: var(--buttons);
  color: #fff;
  font-weight: bold;
}

mat-form-field {
  ::ng-deep {
    .mat-form-field-flex {
      background-color: var(--input) !important;
    }

    input,
    label {
      color: var(--input-text) !important;

      &::placeholder {
        color: var(--input-text) !important;
      }
    }
  }
}

::ng-deep .mat-select-value {
  color: var(--input-text) !important;
}
