.single-project-add {
  position: relative;
  margin-bottom: 20px;
  form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  h6 {
    grid-column: 1/5;
    margin: 10px 0;
  }
  button {
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin: 0 5px;
    background-color: transparent;
    border: 0;
    padding: 0;
    position: absolute;
    top: -12px;
    right: -12px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
