.calendar-days {
  width: 140px;
  height: 80px;
  background: rgb(205, 207, 206);
  padding: 3px;
  margin: 6px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;

  &.previous-month,
  &.next-month {
    color: grey;   
  }

  &.weekend {
    background-color: rgb(61, 207, 98);  
    color: white;

    .day{
      line-height: 80px;
    }

    p{
      display: none;
    }
  }

  p{
    font-weight: bold;
    font-size: 12px;
    color: rgb(78, 78, 78);
  }

  .day{
    font-weight: bold;
    font-size: 20px;
    vertical-align: center;
    line-height: 40px;
  }
}

.flex-container {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

h4{
  margin-left: 15px;
  font-weight: bold;
  background: whitesmoke;
}

#main{
  margin-top: 40px;
}

button, h4{
  margin-bottom: 50px;
  border: none;
  cursor: pointer;
  background: whitesmoke;
}

b{
  text-transform: capitalize;
}

.monthName{
  padding: 7px;
  font-size: 20px;
}

.worker{
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  color: grey;

  .fa-user{
    margin-left: 25px;
  }

  .fa-chevron-down{
    margin-left: 10px;
    cursor: pointer;
  }
}

.workerName{
  margin-left: 10px;
}

.legend{
  width: 100%;
  height: 50px;
  margin-top: 50px;
}

.dayOff{
  width: 20px;
  height: 20px;
  background-color: rgb(61, 207, 98);  
  border-radius: 50%;
}

.vac{
  width: 20px;
  height: 20px;
  background-color: rgb(127, 0, 185);  
  border-radius: 50%;
}

.dayOn{
  width: 20px;
  height: 20px;
  background-color: rgb(205, 207, 206);
  border-radius: 50%;
}

.holyDay{
  width: 20px;
  height: 20px;
  background-color: rgb(0, 81, 233);
  border-radius: 50%;
}

.box{
  width: 120px;
  height: 50px;
  margin-bottom: 50px;

  p{
    font-size: 12px;
    margin-left: 7px;
    width: 100px;
  }

  #holy{
    width: 40px;
  }

  #on{
    width: 88px;
  }

  #off{
    width: 70px;
  }

  #free{
    width: 70px;
  }
}
