/* You can add global styles to this file, and also import other style files */
@import "assets/styles/reset";
<<<<<<< HEAD
@import "assets/styles/colors.scss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}
=======

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
>>>>>>> e71cf1a96e22c3097d2355caa133dd8cb9ac0b5a
