.calendar-days {
  width: 140px;
  height: 80px;
  background: rgb(238, 237, 237);
  padding: 3px;
  margin: 3px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;

  &.previous-month,
  &.next-month {
    color: grey;
  }

  &.weekend {
    background-color: rgb(37, 168, 37);
    color: white;

    .day {
      line-height: 80px;
    }
  }

  &.weekend:hover {
    background-color: rgb(56, 197, 56);
  }

  .day {
    font-weight: bold;
    font-size: 14px;
    vertical-align: center;
    line-height: 80px;
  }
}

.calendar-days:hover {
  background-color: rgb(192, 192, 192);
}

.next-btn {
  font-size: 20px;
  cursor: pointer;
  margin-top: 7px;
  color: var(--font);
}

.flex-container {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

h4 {
  font-weight: bold;
}

#main {
  margin-top: 40px;
}

button,
h4 {
  border: none;
  background: var(--main-contrast);
  margin-bottom: 20px;
  margin-top: 50px;
  color: var(--font);
}

b {
  text-transform: capitalize;
  font-size: 20px;
  margin-left: 8px;
  margin-right: 8px;
}
