<div class="employees-wrapper">
  <mat-card class="pb0">
    <div class="search-wrapper">
      <mat-form-field appearance="fill">
        <mat-label>Szukaj pracownika</mat-label>
        <input matInput placeholder="Szukaj pracownika" name="searchText" [(ngModel)]="searchedEmployee">
      </mat-form-field>
    </div>
  </mat-card>
  <mat-card>
    <div class="list-wrapper">
      <div class="employees-list" *ngIf="(employees | filter: searchedEmployee).length > 0">
        <div class="head">
          <span class="img"></span>
          <span class="name">Imię i nazwisko</span>
          <span class="position">Stanowisko</span>
          <span class="email">E-mail</span>
          <span class="phone">Telefon</span>
          <span class="actions">Akcje</span>
        </div>
        <div class="single-employee" *ngFor="let employee of employees | filter: searchedEmployee; let i = index">
          <img [src]="employee.gender == 0 ? '/assets/images/male-avatar.svg' : '/assets/images/female-avatar.svg'">
          <p class="fullname" routerLink="details/{{employee.id}}"
            *ngIf="user.role.includes('HumanResources') || user.role.includes('Administrator') || employee.id == user.nameid">
            {{employee.fullName}}</p>
          <p class="fullname"
            *ngIf="!user.role.includes('HumanResources') && !user.role.includes('Administrator') && employee.id != user.nameid">
            {{employee.fullName}}</p>
          <p>{{employee.contractName}}</p>
          <a href="mailto:employee.email">{{employee.email}}</a>
          <a href="tel:employee.phoneNumber">{{employee.phoneNumber}}</a>
          <div class="buttons">
            <button class="edit-user" routerLink="edit/{{employee.id}}" [state]={id:employee.id}
              *ngIf="user.role.includes('HumanResources') || user.role.includes('Administrator') || employee.id == user.nameid"><i
                class="fas fa-cog"></i></button>
            <button class="delete-user" mat-raised-button (click)="openDialog(employee.fullName, employee.id)"
              *ngIf="user.role.includes('HumanResources') || user.role.includes('Administrator')"><i
                class="fas fa-minus-circle"></i></button>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
  <button routerLink="add" class="employee-add"
    *ngIf="user.role.includes('HumanResources') || user.role.includes('Administrator')">Dodaj pracownika</button>
</div>
