.employees-wrapper {
  padding: 24px;
  box-sizing: border-box;
  button {
    font-weight: bold;
  }
  .pb0 {
    margin-bottom: 24px;
    padding-bottom: 0;
  }
  .search-wrapper {
    width: 100%;

    mat-form-field {
      width: 100%;

      ::ng-deep {
        .mat-form-field-flex {
          background-color: var(--input) !important;
        }
        input,
        label {
          color: var(--input-text) !important;
          &::placeholder {
            color: var(--input-text) !important;
          }
        }
      }
    }

    input {
      width: 100%;
    }
  }

  .list-wrapper {
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    .head {
      display: none;
      grid-template-columns: 10% repeat(3, 20%) 10% auto;
      align-items: center;
      padding: 10px;
      font-weight: bold;
      background-color: var(--main);
      color: #fff;
      height: 60px;
      .actions {
        margin-left: auto;
        padding-right: 20px;
      }
    }
    .single-employee {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 12px;
      align-items: center;
      background-color: var(--even);
      color: var(--font);
      padding: 10px;
      width: 100%;
      margin: 0 auto;
      border-radius: 10px;
      transition: 0.4s;

      &:nth-of-type(odd) {
        background-color: var(--odd);
      }
      img {
        width: 56px;
        height: 56px;
        margin-right: 40px;
      }

      a {
        color: var(--font);
      }

      .buttons {
        margin-left: auto;
      }

      .delete-user {
        border: 0px;
        background-color: transparent;
        // background: var(--single-employee);
        margin-left: auto;
        padding: 15px;
        cursor: pointer;
        transition: 0.4s;

        i {
          color: red;
          font-size: 20px;
          text-align: right;
        }
      }

      .edit-user {
        border: 0px;
        background-color: transparent;
        // background: var(--single-employee);
        margin-left: auto;
        padding: 15px;
        cursor: pointer;
        transition: 0.4s;
      }

      i {
        color: var(--font);
        font-size: 20px;
        text-align: right;
      }
    }
  }
  .fullname {
    text-decoration: underline;
    cursor: pointer;
  }
  @media (min-width: 900px) {
    .list-wrapper {
      .head {
        display: grid;
        font-size: 12px;
      }
      .single-employee {
        grid-template-columns: 10% repeat(3, 20%) 10% auto;
        grid-gap: 0;
        font-size: 12px;
      }
    }
  }
  @media (min-width: 1320px) {
    .list-wrapper {
      .head {
        font-size: 16px;
      }
      .single-employee {
        font-size: 16px;
      }
    }
  }
}

.employee-add {
  cursor: pointer;
  width: 200px;
  height: 45.5px;
  margin: 20px 0 20px auto;
  display: block;
  border: 0;
  background-color: var(--buttons);
  color: #fff;
}

mat-dialog-actions {
  button {
    margin: 0 0 0 10px;
    background-color: transparent;
    border: 0;
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }
  .cancel {
    text-decoration: underline;
  }
  .delete {
    background-color: #c91e45;
    color: #fff;
  }
}
