.employees-wrapper {
  padding: 24px;
  box-sizing: border-box;
  .search-wrapper {
    width: 100%;
    margin-bottom: 20px;

    mat-form-field {
      width: 100%;
    }

    input {
      width: 100%;
      // height: 60px;
      // width: 100%;
      // border-radius: 10px;
      // padding: 20px;
      // border: 1px solid var(--input-border);
      // outline: 0;
      // box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
      // color: black;
      // font-size: 14px;
      // color: var(--font);
      // background: var(--single-employee);

      // ::placeholder {
      //   color: #fff;
      // }
    }
  }

  .list-wrapper {
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    .head {
      display: grid;
      grid-template-columns: 10% repeat(3, 20%) 10% auto;
      align-items: center;
      padding: 10px;
      font-weight: bold;
      background-color: var(--main);
      color: #fff;
      height: 60px;
      .actions {
        margin-left: auto;
        padding-right: 20px;
      }
    }
    .single-employee {
      display: grid;
      grid-template-columns: 10% repeat(3, 20%) 10% auto;
      align-items: center;
      background-color: var(--single-employee);
      color: var(--font);
      padding: 10px;
      width: 100%;
      margin: 0 auto;
      // box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
      border-radius: 10px;
      // margin-bottom: 10px;
      transition: 0.4s;

      &:nth-of-type(odd) {
        background-color: #f0f0f0;
      }
      img {
        width: 56px;
        height: 56px;
        margin-right: 40px;
      }

      a {
        color: var(--font);
      }

      .buttons {
        margin-left: auto;
      }

      .delete-user {
        border: 0px;
        background-color: transparent;
        // background: var(--single-employee);
        margin-left: auto;
        padding: 15px;
        cursor: pointer;
        transition: 0.4s;

        i {
          color: red;
          font-size: 20px;
          text-align: right;
        }
      }

      .edit-user {
        border: 0px;
        background-color: transparent;
        // background: var(--single-employee);
        margin-left: auto;
        padding: 15px;
        cursor: pointer;
        transition: 0.4s;
      }

      i {
        color: var(--font);
        font-size: 20px;
        text-align: right;
      }
    }

    // .single-employee:hover {
    //   transform: scale(1.1);
    //   transition: 0.4s;
    // }
  }
}

.employee-add {
  cursor: pointer;
  width: 200px;
  height: 45.5px;
  margin: 20px 0 20px auto;
  display: block;
  border: 0;
  background-color: var(--main);
  color: #fff;
}

mat-dialog-actions {
  button {
    margin: 0 0 0 10px;
    background-color: transparent;
    border: 0;
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }
  .cancel {
    text-decoration: underline;
  }
  .delete {
    background-color: #c91e45;
    color: #fff;
  }
}
