.times {
  width: auto;
  min-width: 300px;
  border-radius: 10px;
  margin-left: auto;
  background-color: rgb(238, 231, 231);
  border-radius: 10px;
  margin-left: auto;
  height: auto;
  max-width: 480px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: auto;
  padding-top: 25px;
  padding-bottom: 5px;

  .mat-form-field {
    margin: 0px;
    padding: 0px;
  }

  .matInput {
    background: red;
  }

  .hoursFrom {
    width: auto;
    min-width: 100px;
    max-width: 210px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .hoursTo {
    width: auto;
    min-width: 100px;
    max-width: 210px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .type {
    min-width: 260px;
    width: 90%;
    max-width: 420px;
  }

  .project {
    min-width: 260px;
    width: 90%;
    max-width: 420px;
  }

  .details {
    min-width: 260px;
    width: 90%;
    max-width: 420px;
  }
}

.deleteEntry {
  display: block;
  margin-left: auto;
  background-color: red;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  border: 0px;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transform: translate(235px, -190px);
  position: absolute;
}

.deleteEntry:hover {
  background-color: rgb(209, 0, 0);
}
