.employee-data {
  width: calc(100% - 48px);
  margin: 24px auto;
  background-color: #fff;
  grid-template-columns: 240px auto 240px;
  align-items: center;

  mat-form-field {
    width: 100%;

    ::ng-deep {
      .mat-form-field-flex {
        background-color: var(--input) !important;
      }
      input,
      label {
        color: var(--input-text) !important;
        &::placeholder {
          color: var(--input-text) !important;
        }
      }
    }
  }

  .search-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    grid-column: 1/4;

    mat-form-field {
      width: 100%;
      height: 81px;
    }
    button {
      width: 100%;
      height: 60px;
      border: 0;
      background-color: var(--buttons);
      color: #fff;
      font-weight: bold;
    }
  }
  a {
    display: flex !important;
    align-items: center;
    text-decoration: none;
    mat-icon {
      margin-right: 12px;
    }
    span {
      text-decoration: underline;
    }
  }
  img {
    margin-right: 40px;
    width: 200px;
  }
  .mat-card-title,
  .mat-card-subtitle {
    margin: 12px 0;
  }
  .mat-card-title {
    font-size: 36px;
  }
  .mat-card-subtitle {
    font-size: 24px;
  }
  .mat-card-content {
    .date {
      margin: 12px 0;
      font-size: 18px;
      font-style: italic;
    }
  }
  .contact-wrapper {
    display: flex;
    flex-direction: column;

    a {
      color: inherit;
      display: block;
      margin: 12px 0;
    }
  }
  .other-data {
    grid-column: 1/4;
    margin: 48px 0;

    h4 {
      margin-bottom: 20px;
    }

    table {
      width: 100%;
      max-width: 600px;
      border-collapse: separate;
      border-spacing: 0 1em;
      margin-bottom: 20px;
      tr {
        width: 100%;
        td {
          width: 50%;
        }
      }
    }
  }
  .other-data {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 1320px) {
    display: grid;

    .search-wrapper {
      height: 60px;
      flex-direction: row;
      mat-form-field {
        width: calc(100% - 150px);
        height: 81px;
        margin-bottom: 20px;
      }
      button {
        width: 140px;
      }
    }
    .other-data {
      display: grid;
    }
  }
}
