<mat-nav-list>
  <nav>
    <a routerLink="/">
      <li><i class="fa fa-fw fa-home"></i> Start</li>
    </a>
    <a>
      <li><i routerLink="/employees" class="fas fa-user"></i><span routerLink="/employees">Pracownicy</span><button
          (click)="openSubmenu($event)" class="arrow"></button></li>
      <ul class="submenu">
        <li><i routerLink="/employees" class="fas fa-users"></i><span routerLink="/employees" class="text">Lista
            pracowników</span></li>
        <li><i routerLink="/employees/add" class="fas fa-user-plus"></i><span routerLink="/employees/add"
            class="text">Dodaj pracownika</span></li>
        <li><i routerLink="/employees/edit/{{user.employeeId}}" class="fas fa-user-edit"></i><span
            routerLink="/employees/edit/{{user.employeeId}}" class="text">Edytuj dane</span></li>
      </ul>
    </a>
    <a>
      <li><i routerLink="/projects" class="fas fa-tasks"></i><span routerLink="/projects">Projekty</span><button
          (click)="openSubmenu($event)" class="arrow"></button></li>
      <ul class="submenu">
        <li><i routerLink="/projects" class="fas fa-tasks"></i>
          <span routerLink="/projects" class="text">Lista projektów</span></li>
        <li><i routerLink="/projects/add" class="fas fa-tasks"></i><span routerLink="/projects/add" class="text">Dodaj
            projekt</span></li>
      </ul>
    </a>
    <a routerLink="/worktime">
      <li><i class="far fa-calendar-alt"></i> Czas pracy</li>
    </a>
    <a routerLink="/vacation">
      <li><i class="fas fa-plane"></i>Urlopy</li>
    </a>
    <a class="dark-mode">
      <li>
        <span class="text">
          <mat-slide-toggle [checked]="checked" (change)="changeWebsiteMode()">Tryb ciemny</mat-slide-toggle>
        </span>
      </li>
    </a>
  </nav>
</mat-nav-list>
