<mat-nav-list>
  <nav>
    <a routerLink="/">
      <li><i class="fa fa-fw fa-home"></i> Start</li>
    </a>
    <a routerLink="/employees">
      <li><i class="fas fa-user"></i> Pracownicy</li>
    </a>
    <a routerLink="/worktime">
      <li><i class="far fa-calendar-alt"></i> Czas pracy</li>
    </a>
    <a routerLink="/vacation">
      <li><i class="fas fa-plane"></i>Urlopy</li>
    </a>
    <a class="dark-mode">
      <li>
        <span class="text">
          <mat-slide-toggle [checked]="checked" (change)="changeWebsiteMode()">Tryb ciemny</mat-slide-toggle>
        </span>
      </li>
    </a>
  </nav>
</mat-nav-list>
