.project-edit-wrapper {
  padding: 24px;

  form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  .wrapper {
    grid-column: 1/5;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  input[type="color"] {
    margin-left: 24px;
    -webkit-appearance: none;
    border: none;
    width: 32px;
    height: 32px;
  }
  input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  input[type="color"]::-webkit-color-swatch {
    border: none;
  }
  .color {
    width: 50px;
    height: 50px;
  }
  button {
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin: 0 5px;
    background-color: transparent;
    border: 0;
    padding: 0;
    position: absolute;
    top: -12px;
    right: -12px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .employees {
    grid-column: span 2;
    ::ng-deep {
      .mat-form-field-flex {
        background-color: #fff;
      }
      .mat-form-field-underline {
        display: none;
      }
      mat-chip {
        font-size: 12px;
        padding: 4px 42px 4px 12px;
      }
      button {
        background-color: #d38891;
        font-weight: bold;
        opacity: 1;
        color: #fff;
        width: 32px;
        height: 32px;
        top: 0;
        right: 0;
        border-radius: 16px;
        margin: 0;
      }
    }
  }
  button {
    cursor: pointer;
    width: 200px;
    height: 45.5px;
    margin: 0 0 20px auto;
    display: block;
    border: 0;
    background-color: var(--main);
    color: #fff;
    position: static;
    margin: 20px 0 20px auto;
    font-weight: bold;
  }
}
