@import "./sidebar/sidebar.component.scss";
@import "./sidebar-alt/sidebar-alt.component.scss";
@import "./main/main.component.scss";

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
