<div class="flex-container flex-center main">
  <div class="login-form-wrapper">
    <div class="logo"></div>
    <form [formGroup]="form" (submit)="login()">
      <label>
        <input formControlName="email" type="email" placeholder="E-mail" id="floatingInput" />
      </label>
      <label>
        <input formControlName="password" type="password" placeholder="Hasło" id="floatingPassword" />
      </label>
      <button class="red" type="submit"><i class="icon ion-md-lock"></i>Zaloguj</button>
    </form>
  </div>
</div>
