.employee-edit-wrapper {
  padding: 24px;
  mat-form-field {
    width: 100%;

    ::ng-deep {
      .mat-form-field-flex {
        background-color: var(--input) !important;
      }
      input,
      label {
        color: var(--input-text) !important;
        &::placeholder {
          color: var(--input-text) !important;
        }
      }
    }
  }
  button {
    cursor: pointer;
  }
  .submit {
    position: static;
    cursor: pointer;
    width: 200px;
    height: 45.5px;
    margin: 0 0 20px auto;
    display: block;
    border: 0;
    background-color: var(--buttons);
    color: #fff;
    font-weight: bold;
  }
}
.header {
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 16px;
}
.search-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  grid-column: 1/3;
  height: 60px;
  margin-bottom: 24px;

  mat-form-field {
    width: calc(100% - 150px);
    height: 81px;
    margin-bottom: 20px;
  }
  button {
    width: 140px;
    height: 60px;
    border: 0;
    background-color: var(--buttons);
    color: #fff;
    font-weight: bold;
  }
}
.container {
  margin-bottom: 20px;
  .options-wrapper {
    display: grid;
    // grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
    button {
      position: static;
      width: 100%;
      height: 60px;
      border: 0;
      background-color: var(--buttons);
      color: #fff;
      font-weight: bold;
    }
  }
  @media (min-width: 800px) {
    .options-wrapper {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.single-employyee-edit {
  position: relative;
  margin-bottom: 20px;
  form {
    //display: grid;
    //grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  h6 {
    //grid-column: 1/5;
    margin: 10px 0;
  }
  button {
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin: 0 5px;
    background-color: transparent;
    border: 0;
    padding: 0;
    position: absolute;
    top: -12px;
    right: -12px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .roles {
    grid-column: span 2;
    ::ng-deep {
      .mat-form-field-flex {
        background-color: #fff;
      }
      .mat-form-field-underline {
        display: none;
      }
      mat-chip {
        font-size: 12px;
        padding: 4px 42px 4px 12px;
      }
      button {
        background-color: #d38891;
        font-weight: bold;
        opacity: 1;
        color: #fff;
        width: 32px;
        height: 32px;
        top: 0;
        right: 0;
        border-radius: 16px;
        margin: 0;
      }
    }
  }
  @media (min-width: 800px) {
    form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      h6 {
        grid-column: 1/3;
      }
    }
  }
  @media (min-width: 1320px) {
    form {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      h6 {
        grid-column: 1/5;
      }
    }
  }
}

mat-dialog-actions {
  button {
    margin: 0 0 0 10px;
    background-color: transparent;
    border: 0;
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-decoration: underline;
  }
}
