<div class="employee-edit-wrapper">
  <div class="header" *ngIf="employee">
    <p>Edycja użytkownika <strong>{{employee.fullName}}</strong></p>
  </div>
  <mat-card class="container">
    <div class="search-wrapper">
      <mat-form-field appearance="fill">
        <mat-label>Wybierz pracownika...</mat-label>
        <input type="select" placeholder="Wybierz pracownika..." aria-label="Number" matInput [matAutocomplete]="auto"
          [formControl]="myControl">
      </mat-form-field>
      <button (click)="changeUser()">Zmień</button>
    </div>
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of filteredOptions  | async" [value]="option"> {{option.firstName}}
        {{option.lastName}}</mat-option>
    </mat-autocomplete>
    <div class="options-wrapper" [ngStyle]="!editedEmployeeEqualsUser && {'grid-template-columns': 'repeat(3,1fr)'}">
      <button (click)="setFormToDisplay(1)">Edytuj dane osobowe</button>
      <button (click)="setFormToDisplay(2)">Edytuj dane kontraktowe</button>
      <button (click)="setFormToDisplay(3)" *ngIf="editedEmployeeEqualsUser">Zmień hasło</button>
      <button (click)="setFormToDisplay(4)">Ustaw uprawnienia</button>
    </div>
  </mat-card>
  <mat-card class="single-employyee-edit" *ngIf="formToDisplay != null">
    <form [formGroup]="formData" action="" *ngIf="formToDisplay == 1">
      <h6>Dane osobowe:</h6>
      <mat-form-field appearance="fill">
        <mat-label>Imię</mat-label>
        <input matInput formControlName="firstName">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Nazwisko</mat-label>
        <input matInput formControlName="lastName">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Płeć</mat-label>
        <mat-select formControlName="gender">
          <mat-option [value]="0">Mężczyzna</mat-option>
          <mat-option [value]="1">Kobieta</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Data urodzenia</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="birthDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <h6>Dane kontaktowe:</h6>
      <!-- <mat-form-field appearance="fill">
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="email">
      </mat-form-field> -->
      <mat-form-field appearance="fill">
        <mat-label>Telefon</mat-label>
        <input matInput formControlName="phoneNumber">
      </mat-form-field>
      <h6>Adres:</h6>
      <mat-form-field appearance="fill">
        <mat-label>Ulica</mat-label>
        <input matInput formControlName="street">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Numer Budynku</mat-label>
        <input matInput formControlName="buildingNumber">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Numer mieszkania</mat-label>
        <input matInput formControlName="houseNumber">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Kod pocztowy</mat-label>
        <input matInput formControlName="zipCode">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Miejscowość</mat-label>
        <input matInput formControlName="city">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Kraj</mat-label>
        <input matInput formControlName="country">
      </mat-form-field>
    </form>
    <form [formGroup]="formContract" action="" *ngIf="formToDisplay == 2">
      <h6>Stanowisko:</h6>
      <mat-form-field appearance="fill">
        <mat-label>Stanowisko</mat-label>
        <input matInput formControlName="contractName">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Rodzaj umowy</mat-label>
        <mat-select formControlName="contractType">
          <mat-option [value]="0">Umowa zlecenie</mat-option>
          <mat-option [value]="1">Umowa o pracę</mat-option>
          <mat-option [value]="2">B2B</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Ilość dni urlopowych</mat-label>
        <input matInput formControlName="leaveDays">
      </mat-form-field>
    </form>
    <form [formGroup]="formPassword" action="" *ngIf="formToDisplay == 3">
      <h6>Hasło:</h6>
      <mat-form-field appearance="fill">
        <mat-label>Hasło</mat-label>
        <input type="password" matInput formControlName="password">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Nowe hasło</mat-label>
        <input type="password-new" matInput formControlName="passwordNew">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Powtórz hasło</mat-label>
        <input type="password-repeat" matInput formControlName="passwordRepeat">
      </mat-form-field>
    </form>
    <form [formGroup]="formRoles" action="" *ngIf="formToDisplay == 4">
      <h6>Role użytkownika:</h6>
      <mat-form-field appearance="fill" class="roles">
        <mat-label>Role użytkownika</mat-label>
        <mat-chip-list #chipList aria-label="Roles selection">
          <mat-chip *ngFor="let role of roles" (removed)="remove2(role)"> {{role}} <button matChipRemove>
              <mat-icon>X</mat-icon>
            </button>
          </mat-chip>
          <input placeholder="Dodaj rolę..." #roleInput [formControl]="roleCtrl" [matAutocomplete]="auto"
            [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let role of filteredRoles | async" [value]="role"> {{role}} </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </mat-card>
  <button class="submit" *ngIf="formToDisplay != null" (click)="formToDisplay == 1 && editEmployee() || formToDisplay == 2 && editEmployeeContract() || formToDisplay == 4
    && setRoles();openDialog()">ZAPISZ</button>
  <!-- <button class="submit" *ngIf="formToDisplay != null" (click)="openDialog()">ZAPISZ</button> -->
</div>
