<div class="flex-container flex-center">
  <div class="header" *ngIf="employee">
    <p>Urlopy użytkownika <strong>{{employee.fullName}}</strong></p>
  </div>
  <h4>
    <button (click)="previousmonth()"><i class="fas fa-angle-left next-btn"></i></button>
    <b>{{ date.format("MMMM") }} {{ date.format("YYYY") }}</b>
    <button (click)="nextmonth()"><i class="fas fa-angle-right next-btn"></i></button>
  </h4>
</div>
<div class="days-details">
  <p>pon.</p>
  <p>wt.</p>
  <p>śr.</p>
  <p>czw.</p>
  <p>pt.</p>
  <p>sob.</p>
  <p>niedz.</p>
</div>
<div class="wrapper flex-container flex-center">
  <div *ngFor="let calendarItem of calendar;">
    <div class="flex-container flex-center">
      <div id="{{ calendarItem.id }}" routerLink="day/{{ calendarItem.id }}"
        [state]="{ id: calendarItem.id, name: calendarItem.dayName, weekend: calendarItem.isWeekend }"
        class="calendar-days {{calendarItem.className}}" [class.weekend]="calendarItem.isWeekend"
        [ngClass]="{'today': calendarItem.id === today,'weekend': calendarItem.isWeekend === true}"
        (click)="setValueToChild(calendarItem.duration, calendarItem.startHour, calendarItem.endHour)">
        <span class="day">{{ calendarItem.dayName }}</span>
        <p class="hours">{{calendarItem.startHour}} - {{calendarItem.endHour}}</p>
        <p class="time">({{calendarItem.duration}})</p>
      </div>
    </div>
  </div>
</div>
<div class="legend">
  <div class="today box"></div>
  <p>Dzisiaj</p>
  <div class="week box"></div>
  <p>Dzień wolny</p>
</div>
<div class="summary">
  <p>Przepracowany czas w miesiącu: <span>{{worktimeSummary}}</span></p>
</div>
