.wrapper {
  display: grid !important;
  grid-template-columns: repeat(7, 150px);
  margin-left: auto;
  margin-right: auto;
  width: auto;
  align-items: center;
  justify-content: center;
}

.calendar-days {

  &.previous-month,
  &.next-month {
    color: rgb(190, 190, 190);
  }

  &.weekend {
    background-color: rgb(137, 241, 137);
  }

  &.today {
    border: 2px solid rgb(221, 195, 48);
  }

  &.weekend:hover {
    background-color: rgb(56, 197, 56);
  }

  .day {
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
  }

  .hours {
    font-size: 10px;
    color: gray;
  }

  .time {
    font-size: 10px;
    color: gray;
  }
}

.calendar-days:hover {
  background-color: rgb(192, 192, 192);
}

.next-btn {
  font-size: 20px;
  cursor: pointer;
  margin-top: 7px;
  color: var(--font);
}

.flex-container {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

h4 {
  font-weight: bold;
}

button,
h4 {
  border: none;
  background: var(--main-contrast);
  margin-bottom: 20px;
  color: var(--font);
}

b {
  text-transform: capitalize;
  font-size: 20px;
  margin-left: 8px;
  margin-right: 8px;
}

.days-details {
  width: auto;
  max-width: 1070px;
  height: auto;
  max-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin: 0px auto;
  margin-bottom: 10px;

  p {
    margin: 5px auto;
    width: 45px;
    padding: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    font-weight: bold;
    margin: 0px auto;
    text-align: center;
    color: var(--font);
  }
}

.legend {
  width: auto;
  max-width: 70%;
  height: auto;
  max-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  color: var(--font);

  .box {
    width: 15px;
    height: 15px;
    margin: 5px;
    border-radius: 10px;
  }

  p {
    margin-right: 25px;
  }

  .today {
    background-color: rgb(221, 195, 48);
  }

  .week {
    background-color: rgb(137, 241, 137);
  }
}

.summary {
  width: auto;
  text-align: center;
  margin-top: 25px;
  color: var(--font);

  span {
    font-weight: bold;
    margin-left: 5px;
  }
}

.cont {
  padding: 24px;
  box-sizing: border-box;

  mat-form-field {
    width: 100%;

    ::ng-deep {
      .mat-form-field-flex {
        background-color: var(--input) !important;
      }

      input,
      label {
        color: var(--input-text) !important;

        &::placeholder {
          color: var(--input-text) !important;
        }
      }
    }
  }

  .header {
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 16px;
  }
}

.search-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  grid-column: 1/4;

  mat-form-field {
    width: 100%;
    height: 81px;
  }

  button {
    width: 100%;
    height: 60px;
    border: 0;
    background-color: var(--buttons);
    color: #fff;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
  }

  @media (min-width: 1320px) {
    height: 60px;
    flex-direction: row;

    mat-form-field {
      width: calc(100% - 150px);
      height: 81px;
      margin-bottom: 20px;
    }

    button {
      width: 140px;
    }
  }

  .other-data {
    display: grid;
  }
}

.grd {
  display: grid !important;
  padding: 0 24px;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 12px;
  max-width: 1200px;

  .calendar-days {
    width: 100%;
    min-width: unset;
    height: 80px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(231, 231, 231);
    border-radius: 10px;



    &.previous-month,
    &.next-month {
      color: rgb(190, 190, 190);
    }

    &.weekend {
      background-color: rgb(137, 241, 137);
    }

    &.today {
      border: 2px solid rgb(221, 195, 48);
    }

    &.weekend:hover {
      background-color: rgb(56, 197, 56);
    }

    .day {
      font-weight: bold;
      font-size: 14px;
      display: inline-block;
      vertical-align: middle;
      line-height: 20px;
    }

    .hours {
      font-size: 10px;
      color: gray;
    }

    .time {
      font-size: 10px;
      color: gray;
    }





    .hours,
    .time {
      display: none;
    }

    @media (min-width: 600px) {
      height: 80px;

      .hours,
      .time {
        display: inline;
      }
    }
  }
}
