<div class="cont">
  <div class="header" *ngIf="employee">
    <p>Urlopy użytkownika <strong>{{employee.fullName}}</strong></p>
  </div>
  <mat-card class="container">
    <div class="search-wrapper">
      <mat-form-field appearance="fill">
        <mat-label>Wybierz pracownika...</mat-label>
        <input type="select" placeholder="Wybierz pracownika..." aria-label="Number" matInput [matAutocomplete]="auto"
          [formControl]="myControl">
      </mat-form-field>
      <button (click)="changeUser()">Zmień</button>
    </div>
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of filteredOptions  | async" [value]="option"> {{option.firstName}}
        {{option.lastName}}</mat-option>
    </mat-autocomplete>
  </mat-card>
</div>
<div class="flex-container flex-center">
  <h4>
    <button (click)="previousmonth()"><i class="fas fa-angle-left next-btn"></i></button>
    <b>{{ date.format("MMMM") }} {{ date.format("YYYY") }}</b>
    <button (click)="nextmonth()"><i class="fas fa-angle-right next-btn"></i></button>
  </h4>
</div>
<div class="days-details">
  <p>pon.</p>
  <p>wt.</p>
  <p>śr.</p>
  <p>czw.</p>
  <p>pt.</p>
  <p>sob.</p>
  <p>niedz.</p>
</div>
<div class="wrapper flex-container flex-center grd">
  <div *ngFor="let calendarItem of calendar;">
    <div class="flex-container flex-center">
      <div id="{{ calendarItem.id }}" routerLink="day/{{ calendarItem.id }}"
        [state]="{ id: calendarItem.id, name: calendarItem.dayName, weekend: calendarItem.isWeekend }"
        class="calendar-days {{calendarItem.className}}" [class.weekend]="calendarItem.isWeekend"
        [ngClass]="{'today': calendarItem.id === today,'weekend': calendarItem.isWeekend === true}"
        (click)="setValueToChild(calendarItem.duration, calendarItem.startHour, calendarItem.endHour)">
        <span class="day">{{ calendarItem.dayName }}</span>
        <p class="hours">{{calendarItem.startHour}} - {{calendarItem.endHour}}</p>
        <p class="time">({{calendarItem.duration}})</p>
      </div>
    </div>
  </div>
</div>
<div class="legend">
  <div class="today box"></div>
  <p>Dzisiaj</p>
  <div class="week box"></div>
  <p>Dzień wolny</p>
</div>
<div class="summary">
  <p>Przepracowany czas w miesiącu: <span>{{worktimeSummary}}</span></p>
</div>
