.single-project-add {
  position: relative;
  margin-bottom: 20px;
  .wrapper {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  input[type="color"] {
    -webkit-appearance: none;
    border: none;
    width: 32px;
    height: 32px;
  }
  input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  input[type="color"]::-webkit-color-swatch {
    border: none;
  }
  .color {
    width: 50px;
    height: 50px;
  }
  button {
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin: 0 5px;
    background-color: transparent;
    border: 0;
    padding: 0;
    position: absolute;
    top: -12px;
    right: -12px;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .employees {
    grid-column: span 2;
    ::ng-deep {
      .mat-form-field-flex {
        background-color: #fff;
      }
      .mat-form-field-underline {
        display: none;
      }
      mat-chip {
        font-size: 12px;
        padding: 4px 42px 4px 12px;
      }
      button {
        background-color: #d38891;
        font-weight: bold;
        opacity: 1;
        color: #fff;
        width: 32px;
        height: 32px;
        top: 0;
        right: 0;
        border-radius: 16px;
        margin: 0;
      }
    }
  }
  @media (min-width: 1320px) {
    form {
      display: grid;
      grid-template-columns: 60px 1fr 1fr 1fr 1fr;
      grid-gap: 10px;

      .wrapper {
        margin: 0;
        height: 60px;
      }
      .budget {
        grid-column: 3/4;
        grid-row: 1/2;
      }
      .description {
        grid-column: span 5;
        grid-row: 2/3;
      }
    }
  }
}

mat-form-field {
  width: 100%;

  ::ng-deep {
    .mat-form-field-flex {
      background-color: var(--input) !important;
    }
    input,
    label {
      color: var(--input-text) !important;
      &::placeholder {
        color: var(--input-text) !important;
      }
    }
  }
}
