<div class="worker">
  <i class="fas fa-user"></i><span class="workerName">Damian Czerwiński</span
  ><i class="fas fa-chevron-down"></i>
</div>
<div class="flex-container flex-center">
  <button (click)="previousmonth()"><i class="fas fa-angle-left"></i></button>
  <h4>
    <b>{{ date.format("MMMM") }} {{ date.format("YYYY") }}</b>
  </h4>
  <span class="monthName"></span>
  <button (click)="nextmonth()"><i class="fas fa-angle-right"></i></button>
</div>
<div *ngFor="let calendarItem of calendar; let i = index">
  <div class="flex-container flex-center">
    <div
      id="{{ day.id }}"
      routerLink="day/{{ day.id }}"
      [state]="{ id: day.id, name: day.dayName, weekend: day.isWeekend }"
      class="calendar-days"
      [class.weekend]="day.isWeekend"
      [ngClass]="day.className"
      *ngFor="let day of calendarItem"
    >
      <span class="day">{{ day.day }}</span>
      <p class="hours">
        08:00 - 16:00<br /><span class="timeOfWork">(08:00)</span>
      </p>
    </div>
  </div>
</div>
<div class="legend flex-center flex-container">
  <div class="box legend flex-container flex-center">
    <div class="dayOff"></div>
    <p id="free">Dzień wolny</p>
  </div>
  <div class="box legend flex-container flex-center">
    <div class="vac"></div>
    <p id="off">Nieobecność</p>
  </div>
  <div class="box legend flex-container flex-center">
    <div class="holyDay"></div>
    <p id="holy">Święto</p>
  </div>
  <div class="box legend flex-container flex-center">
    <div class="dayOn"></div>
    <p p id="on">Dzień pracujący</p>
  </div>
</div>
