.single-employee-add {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 30px;
  mat-form-field {
    width: 100%;

    ::ng-deep {
      .mat-form-field-flex {
        background-color: var(--input) !important;
      }
      input,
      label {
        color: var(--input-text) !important;
        &::placeholder {
          color: var(--input-text) !important;
        }
      }
    }
  }

  form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  h6 {
    grid-column: 1/5;
    margin: 10px 0;
  }
  button {
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin: 0 5px;
    background-color: transparent;
    border: 0;
    padding: 0;
    position: absolute;
    top: -12px;
    right: -12px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .roles {
    grid-column: span 2;
    ::ng-deep {
      .mat-form-field-flex {
        background-color: #fff;
      }
      .mat-form-field-underline {
        display: none;
      }
      mat-chip {
        font-size: 12px;
        padding: 4px 42px 4px 12px;
      }
      button {
        background-color: #d38891;
        font-weight: bold;
        opacity: 1;
        color: #fff;
        width: 32px;
        height: 32px;
        top: 0;
        right: 0;
        border-radius: 16px;
        margin: 0;
      }
    }
  }
}
