@import "/src/assets/styles/colors";
@import "/src/assets/styles/mixin";
@import "/src/assets/styles/global";

.login-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: var(--main);
  .login {
    width: 100%;
    height: 100%;
    flex-direction: column;
    img {
      width: 500px;
    }
    form {
      input {
        display: block;
        margin: 20px 0;
      }
    }
  }
}
.root-wrapper {
  display: grid;
  grid-template-columns: 250px auto;
  align-items: start;

  .sidebar {
    width: 250px;
    height: 100vh;
    padding-top: 20px;
    padding-left: 0px;
    background-color: var(--main);
  }
  .main {
    width: 100%;
    height: 100vh;
    background-color: var(--main-contrast);
  }
}
