@import "/src/assets/styles/colors";
@import "/src/assets/styles/mixin";
@import "/src/assets/styles/global";

.login-wrapper {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  width: 100%;
  height: 100%;
}

.root-wrapper {
  height: 100%;
}

.sidenav-container {
  height: 100%;
  background-color: var(--main-contrast);
}

.sidenav {
  width: 250px;
  background-color: var(--main);
}

.mat-toolbar {
  height: 80px;
  background: var(--main);
  line-height: 80px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background: var(--topbar);
  box-shadow: var(--shadows);
}

.logo {
  width: 100%;
  height: 100px;
  background: url("/assets/images/logo-alt.svg") 0 0 no-repeat;
  background-position: center;
}

.mat-sidenav-content {
  height: 100%;
}

.menu-btn {
  color: #fff;
  background-color: var(--topbar);
}

.user-info {
  background-color: var(--topbar);
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 56px min(200px);
  grid-gap: 20px;
  margin-left: auto;
  justify-content: center;
  align-items: center;

  img {
    width: 56px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
  }

  p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--font);
  }

  .buttons-wrapper {
    background-color: var(--topbar);
    width: 100%;
    z-index: 2;
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .edit {
      .edit-btn {
        background-color: var(--buttons);
        font-weight: 600;
        border: 0;
        padding: 12px;
        box-sizing: border-box;
        width: 150px;
        cursor: not-allowed;
        color: #fff;
      }

      .edit-btn:hover {
        background-color: var(--buttons-hover);
      }
    }
  }
}

.toggled {
  grid-template-rows: 56px 150px;
  box-shadow: var(--shadows);
}

nav {
  margin-top: 20px;
  color: #fff;

  a {
    display: block;
    width: 100%;
    height: 50px;
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 0px;
    color: #fff;
    text-decoration: none;
    line-height: 1;
    cursor: pointer;

    .submenu {
      display: none;
    }

    li {
      width: 100%;
      height: 50px;
      padding: 0 20px;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      i {
        font-size: 24px;
        margin-right: 10px;
        width: 32px;
        text-align: center;
      }

      .arrow {
        background: url("/assets/images/arrow-down.svg");
        background-repeat: no-repeat;
        width: 15px;
        height: 9px;
        margin-left: auto;
        margin-right: 20px;
        border: 0;
        cursor: pointer;
      }
    }
  }

  .opened {
    height: auto;

    .arrow {
      transform: scale(-1);
    }

    .submenu {
      display: block;

      li {
        padding-left: 60px;
      }
    }
  }

  a:hover {
    background-color: var(--hovers);
  }
}

.text {
  display: inline-block;
}

.dark-mode {
  bottom: 20px;
  position: absolute;
  bottom: 0;
}

.dark-mode:hover {
  background-color: var(--main);
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #fff;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: rgb(2, 196, 2);
}
