<div class="header"><span>Edytuj czas pracy</span><button class="back" routerLink="/worktime"><i
      class="fas fa-times"></i></button></div>
<div class="workday-wrapper">
  <div class="day-info">
    <p>Pracownik: {{user.firstName}} {{user.lastName}}</p>
    <p>Dzień: {{ id }} </p>
  </div>
  <button class="add" (click)="addWorkDayEntry()">+ Dodaj</button>
  <div class="times" *ngFor="let day of workDays">
    <button (click)="deleteWorkDayEntry()" class="deleteEntry">x</button>
    <div class="inputTime" [state]="{ workStart: day.workStart, workEnd: day.workStop }">
      <mat-form-field class=" example-form-field hoursFrom" appearance="fill">
        <mat-label>Godz. od</mat-label>
        <input matInput type="text" value="{{day.workStart | date:'hh:mm'}}">
      </mat-form-field>

      <mat-form-field class="example-form-field hoursAfter" appearance="fill">
        <mat-label>Godz. do</mat-label>
        <input matInput type="text" value="{{day.workStop | date:'hh:mm'}}">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Tryb</mat-label>
        <select matNativeControl>
          <option value="zdalna">Praca zdalna</option>
          <option value="biuro">Praca w biurze</option>
        </select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Projekt</mat-label>
        <mat-select value="selected">
          <mat-option *ngFor="let proj of projects" [value]="proj.name">{{proj.name}}</mat-option>
        </mat-select>
      </mat-form-field>

    </div>
  </div>
</div>
