.employees-wrapper {
  padding: 24px;
  box-sizing: border-box;
  background-color: var(--main-contrast);

  .search-wrapper {
    width: 100%;
    margin-bottom: 40px;

    input {
      height: 60px;
      width: 100%;
      border-radius: 10px;
      padding: 20px;
      border: 1px solid var(--input-border);
      outline: 0;
      box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
      color: black;
      font-size: 14px;
      color: var(--font);
      background: var(--single-employee);

      ::placeholder {
        color: #fff;
      }
    }
  }

  .list-wrapper {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: var(--main-contrast);

    .single-employee {
      display: grid;
      grid-template-columns: 100px 200px 200px 100px auto;
      align-items: center;
      background-color: var(--single-employee);
      color: var(--font);
      padding: 10px;
      width: 90%;
      margin: 0 auto;
      box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
      border-radius: 10px;
      margin-bottom: 10px;
      transition: 0.4s;

      img {
        width: 56px;
        height: 56px;
        margin-right: 40px;
      }

      a {
        color: var(--font);
      }

      .buttons {
        margin-left: auto;
      }

      .delete-user {
        border: 0px;
        background: var(--single-employee);
        margin-left: auto;
        padding: 15px;
        cursor: pointer;
        transition: 0.4s;

        i {
          color: red;
          font-size: 20px;
          text-align: right;
        }
      }

      .edit-user {
        border: 0px;
        background: var(--single-employee);
        margin-left: auto;
        padding: 15px;
        cursor: pointer;
        transition: 0.4s;
      }

      i {
        color: var(--font);
        font-size: 20px;
        text-align: right;
      }
    }

    // .single-employee:hover {
    //   transform: scale(1.1);
    //   transition: 0.4s;
    // }
  }
}
