.employees-wrapper {
  padding: 24px;
  box-sizing: border-box;
  .search-wrapper {
    width: 100%;
    margin-bottom: 40px;
    input {
      height: 40px;
      width: 100%;
    }
  }
  .list-wrapper {
    .single-employee {
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      img {
        width: 56px;
        height: 56px;
        margin-right: 40px;
      }
    }
  }
}
