.employee-data {
  width: calc(100% - 48px);
  margin: 24px auto;
  background-color: #fff;
  display: grid;
  grid-template-columns: 240px auto 175px;
  align-items: center;
  .search-wrapper {
    width: 100%;
    // padding: 24px 24px 0 24px;
    display: flex;
    justify-content: space-between;
    grid-column: 1/4;

    mat-form-field {
      width: calc(100% - 150px);
      height: 81px;
      margin-bottom: 20px;
    }
    button {
      width: 140px;
      height: 45.5px;
      border: 0;
      background-color: var(--main);
      color: #fff;
    }
    input {
      // width: calc(100% - 150px);
      // padding: 0 12px;
      // height: 60px;
      // border-radius: 10px;
      // padding: 20px;
      // border: 1px solid var(--input-border);
      // outline: 0;
      // box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
      // color: black;
      // font-size: 14px;
      // color: var(--font);
      // background: var(--single-employee);
    }
    button {
      // width: 140px;
      // height: 60px;
      // display: flex;
      // justify-content: center;
      // align-items: center;
      // border-radius: 10px;
      // padding: 20px;
      // border: 0;
      // box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
      // color: black;
      // font-size: 14px;
      // color: #fff;
      // background: var(--main);
    }
  }
  img {
    margin-right: 40px;
    width: 200px;
  }
  .mat-card-title,
  .mat-card-subtitle {
    margin: 12px 0;
  }
  .mat-card-title {
    font-size: 36px;
  }
  .mat-card-subtitle {
    font-size: 24px;
  }
  .mat-card-content {
    .date {
      margin: 12px 0;
      font-size: 18px;
      font-style: italic;
    }
  }
  .contact-wrapper {
    display: flex;
    flex-direction: column;
    margin-right: 0;
    margin-left: auto;
    a {
      color: inherit;
      display: block;
      margin: 12px 0;
    }
  }
  .other-data {
    grid-column: 1/4;
    margin: 48px 0;

    h4 {
      margin-bottom: 20px;
    }

    table {
      width: 400px;
      border-collapse: separate;
      border-spacing: 0 1em;
      margin-bottom: 60px;
      tr {
        width: 100%;
        td {
          width: 50%;
        }
      }
    }
  }
}
