<div class="vacation-container">
  <div class="header" *ngIf="employee">
    <p>Urlopy użytkownika <strong>{{employee.fullName}}</strong></p>
  </div>
  <mat-card class="container">
    <div class="search-wrapper">
      <mat-form-field appearance="fill">
        <mat-label>Wybierz pracownika...</mat-label>
        <input type="select" placeholder="Wybierz pracownika..." aria-label="Number" matInput [matAutocomplete]="auto"
          [formControl]="myControl">
      </mat-form-field>
      <button (click)="changeUser()">Zmień</button>
    </div>
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of filteredOptions  | async" [value]="option"> {{option.firstName}}
        {{option.lastName}}</mat-option>
    </mat-autocomplete>
  </mat-card>
  <mat-card class="container">
    <form [formGroup]="form" (submit)="addVacation()">
      <mat-form-field appearance="fill">
        <mat-label>Typ urlopu</mat-label>
        <mat-select formControlName="leaveRegisterType" required>
          <mat-option *ngFor="let option of typeOptions" [value]="option.value"> {{option.label}} </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Od</mat-label>
        <input formControlName="leaveStart" matInput [matDatepicker]="pickerStart" required>
        <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
        <mat-datepicker #pickerStart firstDayOfWeek="1"></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Do</mat-label>
        <input formControlName="leaveEnd" matInput [matDatepicker]="pickerEnd" required>
        <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
        <mat-datepicker #pickerEnd></mat-datepicker>
      </mat-form-field>
      <input hidden formControlName="employeeId">
      <button type="submit">Dodaj urlop</button>
    </form>
    <app-calendar (changeMonthEmitter)="changeMonth()"></app-calendar>
    <div class="legend">
      <p class="llabel l1">Chorobowy</p>
      <p class="llabel l2">Na żądanie</p>
      <p class="llabel l3">Opiekuńczy</p>
      <p class="llabel l4">Bezpłatny</p>
    </div>
    <div class="wrapper">
      <div class="limits">
        <h6>Ilość dni urlopowych</h6>
        <div class="spinner-wrapper">
          <mat-progress-spinner [color]="color" [mode]="mode" [value]="value">
          </mat-progress-spinner>
          <p>{{employeeVacationLimit}}</p>
          <span>Limit</span>
        </div>
        <div class="spinner-wrapper">
          <mat-progress-spinner [color]="color2" [mode]="mode" [value]="value2">
          </mat-progress-spinner>
          <p>{{employeeVacationLeft}}</p>
          <span>Pozostałe</span>
        </div>
      </div>
      <div class="pending">
        <h6 class="head-h">Zadeklarowane urlopy</h6>
        <div *ngFor="let vac of employeeVacation">
          <div *ngIf="!isDeclaredListEmpty">
            <div class="single-vacation" *ngIf="vac.isApproved == 2">
              <div class="dates">
                <span>od {{vac.dateFrom | date:"dd-MM-YYYY"}} </span>
                <span>do {{vac.dateTo | date:"dd-MM-YYYY"}}</span>
              </div>
              <div class="actions" *ngIf="user.role.includes('HumanResources') || user.role.includes('Administrator')">
                <button (click)="approveVacation(vac.id)"><img src="/assets/images/check-square-solid.svg"
                    alt=""></button>
                <button (click)="rejectVacation(vac.id)"><img src="/assets/images/minus-square-solid.svg"
                    alt=""></button>
              </div>
            </div>
          </div>
        </div>
        <div class="empty-content" *ngIf="isDeclaredListEmpty">
          <h6>Brak wartości do wyświetlenia</h6>
        </div>
      </div>
      <div class="accepted">
        <h6 class="head-h">Zaakceptowane urlopy</h6>
        <div *ngIf="!isApprovedListEmpty">
          <div *ngFor="let vac of employeeVacation">
            <div class="single-vacation" *ngIf="vac.isApproved == 0">
              <div class="dates">
                <span>od {{vac.dateFrom | date:"dd-MM-YYYY"}} </span>
                <span>do {{vac.dateTo | date:"dd-MM-YYYY"}}</span>
              </div>
              <div class="actions" *ngIf="user.role.includes('HumanResources') || user.role.includes('Administrator')">
                <button (click)="rejectVacation(vac.id)"><img src="/assets/images/minus-square-solid.svg"
                    alt=""></button>
              </div>
            </div>
          </div>
        </div>
        <div class="empty-content" *ngIf="isApprovedListEmpty">
          <h6>Brak wartości do wyświetlenia</h6>
        </div>
      </div>
      <div class="rejected">
        <h6 class="head-h">Odrzucone urlopy</h6>
        <div *ngIf="!isRejectedListEmpty">
          <div *ngFor="let vac of employeeVacation">
            <div class="single-vacation" *ngIf="vac.isApproved == 1">
              <div class="dates">
                <span>od {{vac.dateFrom | date:"dd-MM-YYYY"}} </span>
                <span>do {{vac.dateTo | date:"dd-MM-YYYY"}}</span>
              </div>
              <div class="actions" *ngIf="user.role.includes('HumanResources') || user.role.includes('Administrator')">
                <button (click)="deleteVacation(vac.id)"><img src="/assets/images/minus-square-solid.svg"
                    alt=""></button>
              </div>
            </div>
          </div>
        </div>
        <div class="empty-content" *ngIf="isRejectedListEmpty">
          <h6>Brak wartości do wyświetlenia</h6>
        </div>
      </div>
    </div>
  </mat-card>
</div>
