<div class="sidebar">
  <a href="/"><div class="logo"></div></a>
  <nav>
    <a routerLink="/"><i class="fa fa-fw fa-home"></i>Start</a>
    <a routerLink="/workers"><i class="fas fa-user"></i> Pracownicy</a>
    <a routerLink="/worktime"><i class="far fa-calendar-alt"></i> Czas pracy</a>
    <a routerLink="/vacation"
      ><i class="fas fa-plane"></i>Urlopy<span
        class="arrow-down"
        onclick="test()"
      ></span
    ></a>
    <ul class="submenu">
      <li>
        <a href="">
          <span class="text">Limity</span>
        </a>
      </li>
      <li>
        <a href="">
          <span class="text">Nieobecności</span>
        </a>
      </li>
      <li>
        <a href="">
          <span class="text">Grafik urlopowy</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
