@import "/src/assets/styles/color";

.sidebar {
  background-color: $main;
  width: 250px;
  height: 100vh;
  padding-top: 20px;
  padding-left: 0px;
  box-sizing: border-box;

  nav {
    margin-top: 30px;

    a {
      display: block;
      color: #fff;
      text-decoration: none;
      line-height: 1;
      font-size: 18px;
      margin-bottom: 10px;
      margin-left: 0px;
      width: 250px;
      height: 50px;

      .arrow {
        background: url(\src\arrow-down.svg);
        background-repeat: no-repeat;
        width: 15px;
        height: 9px;
        position: absolute;
        margin-left: 100px;
        margin-top: 22px;
      }
      .submenu {
        display: none;
      }
      li {
        height: 50px;
        list-style: none;
      }
    }
    .opened {
      height: auto;
      .arrow {
        transform: scale(-1);
      }
      .submenu {
        display: block;
      }
    }

    i {
      font-size: 24px;
      margin-right: 10px;
      margin-left: 20px;
      margin-top: 12px;
    }

    a:hover {
      background-color: rgba(25, 25, 51, 0.479);
    }
  }

  .logo {
    background: url(\src\app\logo.png) 0 0 no-repeat;
    width: 100%;
    height: 120px;
    margin-left: 15px;
  }
  .text {
    display: inline-block;
    margin: 15px 0 0 58px;
  }
}

.sidebar-alt {
  background-color: $main-alt;
  .logo {
    background: url(\src\app\logo-alt.svg) 0 0 no-repeat;
    height: 60px;
  }
}
