<div class="flex-container flex-center main">
  <div class="login-form-wrapper">
    <img src="/assets/images/logo-alt.svg" alt="">
    <div class="logo"></div>
    <form [formGroup]="form" (submit)="login()">
      <label>
        <input formControlName="email" type="email" placeholder="E-mail" id="floatingInput"/>
      </label>
      <label>
        <input formControlName="password" type="password" placeholder="Hasło" id="floatingPassword"/>
      </label>
      <button class="red" type="submit"><i class="icon ion-md-lock"></i>Zaloguj</button>
    </form>
  </div>
  <div class="container"><img class="background" src="/assets/images/logon.png" alt=""></div>
</div>
