.header {
  width: 100%;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid rgb(212, 212, 212);
  border-top: 1px solid rgb(212, 212, 212);

  span {
    font-size: 18px;
    font-weight: bold;
    width: 300px;
    line-height: 50px;
    margin-left: 20px;
    color: rgb(58, 58, 58);
  }

  .back {
    width: 30px;
    height: 30px;
    border: none;
    font-weight: bold;
    font-size: 24px;
    color: rgb(58, 58, 58);
    margin-right: 10px;
    cursor: pointer;
    margin-top: 10px;
    line-height: 10px;
    float: right;
  }

  .back:hover {
    color: red;
  }

  .save {
    float: right;
    background-color: #1869ff;
    color: #fff;
    border: none;
    font-weight: bold;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 12px;
  }

  .save:hover {
    background-color: #0058fc;
  }
}

.add {
  width: auto;
  height: 30px;
  border: none;
  background-color: transparent;
  color: #1869ff;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  margin-left: auto;
  margin-top: 50px;
}

.add:hover {
  color: #0058fc;
}

.workday-wrapper {
  background-color: rgb(255, 255, 255);
  width: auto;
  height: auto;
  padding: 50px;
  border-radius: 10px;
  margin: 50px;
}

.info-wrapper {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.day-info {
  width: auto;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
  background-color: rgb(238, 231, 231);
  float: left;
  padding: 5px;

  p {
    color: black;
    padding: 10px;
    width: auto;
    min-width: 210px;
    margin: 10px;
    background: rgb(255, 255, 255);
    border-radius: 5px;

    span {
      font-weight: bold;
    }
  }
}

.times {
  width: auto;
  min-width: 300px;
  border-radius: 10px;
  margin-left: auto;
  background-color: rgb(238, 231, 231);
  border-radius: 10px;
  margin-left: auto;
  height: auto;
  max-width: 480px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: auto;
  padding-top: 25px;
  padding-bottom: 5px;

  .mat-form-field {
    margin: 0px;
    padding: 0px;
  }

  .matInput {
    background: red;
  }

  .hoursFrom {
    width: auto;
    min-width: 100px;
    max-width: 210px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .hoursTo {
    width: auto;
    min-width: 100px;
    max-width: 210px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .type {
    min-width: 260px;
    width: 90%;
    max-width: 420px;
  }

  .project {
    min-width: 260px;
    width: 90%;
    max-width: 420px;
  }

  .details {
    min-width: 260px;
    width: 90%;
    max-width: 420px;
  }
}

.deleteEntry {
  display: block;
  margin-left: auto;
  background-color: red;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  border: 0px;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transform: translate(235px, -190px);
  position: absolute;
}

.deleteEntry:hover {
  background-color: rgb(209, 0, 0);
}
