.sidenav-container {
  height: 100%;
  width: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-nav-list {
  button {
    height: 100%;
    background-position: center;
  }

  span {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  i {
    text-align: left;
    min-width: 32px;
  }

  .submenu {
    li {
      padding-left: 20px;
      font-size: 14px;
      background-color: var(--hovers);
    }
  }
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #fff;
}

.dark-mode {
  li {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    i {
      display: flex;
      justify-content: center;
      margin: 0;
    }
  }
}

:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: rgb(24, 136, 42);
}
