.employee-add-wrapper {
  padding: 24px;

  mat-form-field {
    width: 100%;

    ::ng-deep {
      .mat-form-field-flex {
        background-color: var(--input) !important;
      }
      input,
      label {
        color: var(--input-text) !important;
        &::placeholder {
          color: var(--input-text) !important;
        }
      }
    }
  }

  button {
    font-weight: bold;
  }
  .single-employee-add {
    width: 100%;
  }
  .add-row {
    cursor: pointer;
    width: 200px;
    height: 45.5px;
    margin: 0 0 20px auto;
    display: block;
    border: 0;
    background-color: var(--buttons);
    color: #fff;
    transform: translateY(-40px);
  }
}
mat-dialog-actions {
  button {
    margin: 0 0 0 10px;
    background-color: transparent;
    border: 0;
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-decoration: underline;
  }
}
