.dashboard-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 24px;

  h6 {
    display: inline-block;
    margin-bottom: 12px;
  }

  .card-1 {
    display: none;

    .empty-content {
      height: calc(100% - 30px);
    }
  }
  // .card-2 {
  //   .single-employee {
  //     width: 100%;
  //     justify-items: center;
  //     align-items: center;
  //     display: grid;
  //     grid-template-columns: 48px 4fr;
  //     margin: 24px 0;
  //     row-gap: 12px;
  //     column-gap: 24px;

  //     img {
  //       width: 100%;
  //       grid-row: 1/3;
  //     }
  //     .icons {
  //       width: 100px;
  //       justify-self: flex-start;
  //       display: grid;
  //       grid-template-columns: 50px 50px;
  //     }
  //     p {
  //       font-size: 14px;
  //       width: 100%;
  //       text-align: left;
  //     }
  //   }
  // }
  .card-3 {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;

    .time,
    .limit,
    .left {
      position: relative;
      text-align: center;
      display: grid;
      grid-template-columns: 140px auto;
      align-items: center;
      mat-progress-spinner {
        margin: 0 auto;
      }
      p {
        margin: 12px 0;
      }

      .counter {
        position: absolute;
        top: 54px;
        left: 25px;
        z-index: 2;
        font-size: 24px;
        font-weight: bold;
        width: 90px;
        line-height: 32px;
        text-align: center;
      }
    }

    .time {
      mat-progress-spinner {
        ::ng-deep {
          circle {
            stroke: #fdc20e;
          }
        }
      }
    }

    .limit,
    .left {
      mat-progress-spinner {
        height: 140px !important;
        ::ng-deep {
          svg {
            top: 20px;
          }
        }
      }
    }
  }
  .card-4 {
    .projects-list {
      .single-project {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 12px 0;
        .label {
          width: 32px;
          height: 32px;
          // border-radius: 8px;
          margin-right: 12px;
        }
      }
    }
    .empty-content {
      height: calc(100% - 30px);
    }
  }
  .card-5 {
    .admins-list {
      .single-admin {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 12px 0;

        img {
          margin-right: 12px;
        }
        .icons {
          margin-left: auto;
          margin-right: 0;
          a {
            display: inline-block;
            margin-left: 12px;
          }
        }
      }
    }
  }
  @media (min-width: 800px) {
    grid-template-columns: repeat(2, 1fr);
    .card-1 {
      display: block;
      grid-column: span 2;

      ::ng-deep {
        canvas {
          width: 100% !important;
          height: 260px !important;
        }
      }
    }
    .card-2 {
      grid-column: span 2;
      .single-employee {
        grid-template-columns: 50px auto 96px;
        row-gap: 24px;
        .icons {
          justify-items: center;
        }
      }
    }
    .card-3 {
      grid-column: span 2;
    }
    .card-4,
    .card-5 {
      grid-column: span 2;
    }
  }
  @media (min-width: 1320px) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 24px;

    .card-1 {
      grid-column: 1/9;
      grid-row: 1/7;
      canvas {
        height: 330px !important;
      }
    }
    .card-2 {
      grid-column: 9/13;
      grid-row: 1/10;
    }
    .card-3 {
      grid-column: 1/9;
      grid-row: 7/11;
      grid-template-columns: repeat(3, 1fr);
      .time,
      .limit,
      .left {
        grid-template-columns: 1fr;
        .counter {
          left: calc(50% - 45px);
        }
      }
    }
    // .card-4 {
    //   grid-column: 1/5;
    //   grid-row: 10/13;
    // }
    // .card-5 {
    //   grid-column: 5/13;
    //   grid-row: 10/13;
    //   display: grid;
    //   grid-template-columns: repeat(2, 1fr);
    //   column-gap: 24px;

    //   h6 {
    //     grid-column: span 2;
    //   }
    // }
    .card-4 {
      grid-column: 1/13;
      grid-row: 11/13;

      .projects-list {
        height: calc(100% - 30px);
        display: grid;
        grid-template-columns: repeat(auto-fit, 150px);
      }
    }
    .card-5 {
      grid-column: 9/13;
      grid-row: 1/11;
      .single-admin {
        margin-bottom: 32px !important;
      }
    }
  }
}
