<div class="dashboard-container main-container">
  <mat-card class="container card-1">
    <h6>Czas pracy w obecnym miesiącu</h6>
    <canvas baseChart [data]="barChartData" [options]="barChartOptions" [type]=" barChartType" *ngIf="!isChartEmpty">
    </canvas>
    <div class="empty-content" *ngIf="isChartEmpty">
      <h6>Brak danych do wyświetlenia</h6>
    </div>
  </mat-card>
  <!-- <mat-card class="card-2">
    <h6> Powiadomienia urlopowe </h6>
  </mat-card> -->
  <mat-card class="card-3">
    <div class="time">
      <mat-progress-spinner [color]="color" [mode]="mode" [value]="value" diameter="140"></mat-progress-spinner>
      <strong class="counter">{{monthTime}}</strong>
      <div class="text-wrapper">
        <p>Przepracowane godziny</p>
        <p><strong>({{currentMonth}})</strong></p>
      </div>
    </div>
    <div class="limit">
      <mat-progress-spinner [color]="color" [mode]="mode" [value]="value">
      </mat-progress-spinner>
      <strong class="counter">{{vacationLimit}}</strong>
      <div class="text-wrapper">
        <p>Limit dni urlopowych</p>
        <p><strong>({{currentYear}})</strong></p>
      </div>
    </div>
    <div class="left">
      <mat-progress-spinner [color]="color2" [mode]="mode" [value]="value2">
      </mat-progress-spinner>
      <strong class="counter">{{vacationLeft}}</strong>
      <div class="text-wrapper">
        <p>Pozostałe dni urlopowe</p>
        <p><strong>({{currentYear}})</strong></p>
      </div>
    </div>
  </mat-card>
  <div class="card-4">
    <h6>Twoje projekty</h6>
    <swiper [config]="config" *ngIf="!isProjectListEmpty">
      <ng-template swiperSlide *ngFor="let project of projects">
        <mat-card>
          <div class="label" [ngStyle]="{'backgroundColor': project.colorLabel}">
          </div>
          <div class="name"><a href="/projects/details/{{project.id}}"><span>{{project.name}}</span></a></div>
        </mat-card>
      </ng-template>
    </swiper>
    <div class="empty-content" *ngIf="isProjectListEmpty">
      <h6>Brak danych do wyświetlenia</h6>
    </div>
  </div>
  <mat-card class=" card-5">
    <h6>Wsparcie techniczne</h6>
    <div class="admins-list" *ngFor="let admin of adminsToDisplay">
      <div class="single-admin">
        <img [src]="admin.gender == 0 ? '/assets/images/male-avatar.svg' : '/assets/images/female-avatar.svg'">
        <p>{{admin.fullName}}</p>
        <div class="icons">
          <a href="tel:{{admin.phone}}">
            <mat-icon> phone</mat-icon>
          </a>
          <a href="mailto:{{admin.email}}">
            <mat-icon> email</mat-icon>
          </a>
        </div>
      </div>
    </div>
  </mat-card>
</div>
