.calendar-days {
  width: 140px;
  height: 80px;
  background: rgb(238, 237, 237);
  padding: 3px;
  margin: 3px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;

  &.previous-month,
  &.next-month {
    color: grey;
  }

  &.weekend {
    background-color: #b5d3e7 !important;
    .day {
      line-height: 80px;
    }
    &:after {
      content: none !important;
    }
  }

  &.weekend:hover {
    background-color: #b5d3e7;
  }

  .day {
    font-weight: bold;
    font-size: 14px;
    vertical-align: center;
    line-height: 80px;
  }
}

.calendar-days:hover {
  background-color: rgb(192, 192, 192);
}

.next-btn {
  font-size: 20px;
  cursor: pointer;
  margin-top: 7px;
}

.flex-container {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

h4 {
  font-weight: bold;
}

#main {
  margin-top: 40px;
}

button,
h4 {
  border: none;
  margin-bottom: 20px;
  background-color: #fff;
}

b {
  text-transform: capitalize;
  font-size: 20px;
  margin-left: 8px;
  margin-right: 8px;
}

[data-leaveDay="approved"] {
  background-color: #d9ffbf;
}
[data-leaveDay="pending"] {
  background-color: #fcf4a3;
}
[data-leaveDay="rejected"] {
  background-color: #d38891;
}

[data-leaveDayType="sickleave"] {
  position: relative;
  &:after {
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-bottom: 16px solid #eb346b;
    border-right: 16px solid #eb346b;
    border-left: 16px solid transparent;
    border-top: 16px solid transparent;
    // background-color: #eb346b;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
