// @import "assets/styles/colors";
@import "/src/assets/styles/colors";
@import "/src/assets/styles/mixin";
@import "/src/assets/styles/global";

.sidebar-wrapper {
  .logo {
    width: 100%;
    height: 60px;
    margin-left: 15px;
    background: url("/assets/images/logo-alt.svg") 0 0 no-repeat;
  }
  nav {
    margin-top: 30px;

    a {
      display: block;
      width: 100%;
      height: 50px;
      font-size: 18px;
      margin-bottom: 10px;
      margin-left: 0px;
      color: #fff;
      text-decoration: none;
      line-height: 1;

      .submenu {
        display: none;
      }

      li {
        width: 100%;
        height: 50px;
        padding: 0 20px;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        i {
          font-size: 24px;
          margin-right: 10px;
          // margin-left: 20px;
          width: 32px;
          text-align: center;
        }
        .arrow {
          background: url("/assets/images/arrow-down.svg");
          background-repeat: no-repeat;
          width: 15px;
          height: 9px;
          margin-left: auto;
          margin-right: 20px;
          border: 0;
        }
      }
    }
    .opened {
      height: auto;
      .arrow {
        transform: scale(-1);
      }
      .submenu {
        display: block;
        li {
          padding-left: 60px;
        }
      }
    }

    a:hover {
      background-color: rgba(25, 25, 51, 0.479);
    }
  }
  .text {
    display: inline-block;
    // margin: 15px 0 0 58px;
  }

  .switcher {
    width: 64px;
    height: 64px;
    color: #fff;
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: transparent;
    border: 0;
    border-radius: 50%;
  }
}


