<div class="sidebar-alt">
  <a href="/"><div class="logo"></div></a>
  <nav>
    <a routerLink="/"
      ><li><i class="fa fa-fw fa-home"></i> Start</li></a
    >
    <a routerLink="/workers"
      ><li><i class="fas fa-user"></i> Pracownicy</li></a
    >
    <a routerLink="/worktime"
      ><li><i class="far fa-calendar-alt"></i> Czas pracy</li></a
    >
    <a routerLink="/vacation"
      ><li>
        <i class="fas fa-plane"></i>Urlopy<span
          class="arrow"
          onclick="test()"
        ></span>
      </li>
      <ul class="submenu">
        <li>
          <a href="">
            <span class="text">Limity</span>
          </a>
        </li>
        <li>
          <a href="">
            <span class="text">Nieobecności</span>
          </a>
        </li>
        <li>
          <a href="">
            <span class="text">Grafik urlopowy</span>
          </a>
        </li>
      </ul></a
    >
    <a routerLink="/vacation"
      ><li>
        <i class="fas fa-plane"></i>Urlopy<span
          class="arrow"
          onclick="test()"
        ></span>
      </li>
      <ul class="submenu">
        <li>
          <a href="">
            <span class="text">Limity</span>
          </a>
        </li>
        <li>
          <a href="">
            <span class="text">Nieobecności</span>
          </a>
        </li>
        <li>
          <a href="">
            <span class="text">Grafik urlopowy</span>
          </a>
        </li>
      </ul></a
    >
  </nav>
</div>
